.worker-details-container {
  float: left;
  margin: 20px;
}
.sub-input {
  margin-bottom: 10px;
}
.titles {
  font-size: 15px;
}
.add-btn {
  border: none;
  background-color: #154a99;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
}
