.workers-container {
  float: left;
  width: 60%;
  text-align: center;
  height: 80vh;
  border-right: 1px solid #afadad;
}
.workers-empty-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}
.add-btn {
  border: none;
background-color: #154a99;
font-size: 16px;
text-transform: capitalize;
padding: 10px 20px;
color: #fff;
border-radius: 3px;
}
.add-btn:hover {
  background-color: #0d2954;
}
