.worker-item {
  width: 70%;
  margin: 15px auto;
  font-size: 14px;
  font-weight: 600;
}
.worker-name {
  float: left;
  text-transform: capitalize;
  width: 200px;
  text-align: left;
}
.worker-title {
  float: left;
  margin-right: 30px;
}
.worker-position {
  float: left;
  text-align: right;
  width: 170px;
}
